@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: auto auto;
}

/* header */
header {
  height: 80px;
  background-color: #a5ced5;
  position: fixed;
  width: 100%;
}
header nav {
  width: 200px;
  position: absolute;
  top: 80px;
  right: 0;
  opacity: 0;
  transition: 250ms;
}
header nav ul li {
  list-style: none;
  background-color: #546d78;
}
header nav ul li a {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 3px 12px;
  color: white;
}

/* mixin */
/* clases */
.logo {
  width: 210px;
  margin: 5px;
}

.checkbox {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 15px;
  top: 25px;
  cursor: pointer;
  opacity: 0;
}

.desplegar {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 15px;
  top: 25px;
  cursor: pointer;
  pointer-events: none;
}

.cancelar {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 15px;
  top: 25px;
  cursor: pointer;
  display: none;
  pointer-events: none;
}

.checkbox:checked ~ .desplegar {
  display: none;
}

.checkbox:checked ~ .cancelar {
  display: block;
}

.checkbox:checked ~ .menu {
  display: block;
  top: 80px;
  opacity: 1;
}

.menu li a:hover {
  background-color: #546d78;
}

/* responsive */
@media (min-width: 670px) {
  .checkbox, .cancelar, .desplegar {
    display: none;
  }
  .logo {
    width: 265px;
    margin: 5px;
  }
  header {
    height: 100px;
  }
  header .menu {
    display: block;
    top: 33px;
    z-index: 1;
    width: 100%;
    margin-right: 20px;
    transition: none;
    opacity: 1;
  }
  header .menu ul {
    display: flex;
    justify-content: end;
    right: 20px;
    top: 0;
  }
  header .menu ul li {
    background-color: #a5ced5;
  }
  header .menu ul li a {
    border-radius: 20px;
    font-size: 0.9rem;
  }
}
@media (min-width: 1023px) {
  header {
    height: 150px;
  }
  header .menu {
    top: 55px;
  }
  header .menu li a {
    font-size: 1.2rem !important;
  }
  .logo {
    width: 390px;
    margin: 9px;
  }
}
/* main inicio */
.mainInicio {
  width: 100%;
  margin-top: 80px;
}
.mainInicio div img {
  width: 100%;
}
.mainInicio div h1 {
  padding: 70px 10px;
  background-color: black;
  text-align: center;
  font-size: 4vw;
  color: white;
  margin: 0;
}
.mainInicio section {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}
.mainInicio section h2 {
  font-size: 3vw;
  text-align: center;
  padding: 20px 10px;
  margin: 40px auto;
}
.mainInicio section iframe {
  width: 85vw;
  height: 50vw;
  margin: auto;
}

/* responsive tamaño pequeño */
@media (min-width: 670px) {
  .mainInicio {
    margin-top: 100px;
  }
  .mainInicio section h2 {
    font-size: 2vw;
    padding: 40px 0;
  }
  .mainInicio section iframe {
    width: 60vw;
    height: 40vw;
    margin-bottom: 70px;
  }
}
/* responsive tamaño mediano */
@media (min-width: 1023px) {
  .mainInicio {
    margin-top: 150px;
  }
  .mainInicio section h2 {
    padding: 70px 0;
  }
  .mainInicio section iframe {
    width: 40vw;
    height: 25vw;
    margin-bottom: 100px;
  }
}
/* footer */
footer {
  background-color: black;
  display: flex;
  flex-direction: column;
}
footer img {
  width: 100px;
  margin: auto;
}
footer nav {
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}
footer nav li {
  width: 20px;
  list-style: none;
  margin: auto 20px;
}

/* clases */
.logoRedes {
  width: 100%;
}

/*# sourceMappingURL=estilo.css.map */
