@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: auto auto;
}

/* header */
header {
  height: 80px;
  background-color: #a5ced5;
  position: fixed;
  width: 100%;
  z-index: 1;
}
header nav {
  width: 200px;
  position: absolute;
  top: 80px;
  right: 0;
  opacity: 0;
  transition: 250ms;
}
header nav ul li {
  list-style: none;
  background-color: #546d78;
}
header nav ul li a {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 3px 12px;
  color: white;
}

/* mixin */
/* clases */
.logo {
  width: 200px;
  margin: 5px;
}

.checkbox {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 15px;
  top: 25px;
  cursor: pointer;
  opacity: 0;
}

.desplegar {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 15px;
  top: 25px;
  cursor: pointer;
  pointer-events: none;
}

.cancelar {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 15px;
  top: 25px;
  cursor: pointer;
  display: none;
  pointer-events: none;
}

/* acciones */
.checkbox:checked ~ .desplegar {
  display: none;
}

.checkbox:checked ~ .cancelar {
  display: block;
}

.checkbox:checked ~ .menu {
  display: block;
  top: 80px;
  opacity: 1;
}

.menu li a:hover {
  background-color: #546d78;
}

/* main inicio */
.mainInicio {
  width: 100%;
  margin-top: 80px;
}
.mainInicio div img {
  width: 100%;
}
.mainInicio div h1 {
  padding: 70px 10px;
  background-color: black;
  text-align: center;
  font-size: 4vw;
  color: white;
  margin: 0;
}
.mainInicio section {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}
.mainInicio section h2 {
  font-size: 3vw;
  text-align: center;
  padding: 20px 10px;
  margin: 40px auto;
}
.mainInicio section iframe {
  width: 85vw;
  height: 50vw;
  margin: auto;
}

/* footer */
footer {
  background-color: black;
  display: flex;
  flex-direction: column;
}
footer img {
  width: 100px;
  margin: auto;
}
footer nav {
  margin: 20px auto;
}
footer nav ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
footer nav ul li {
  width: 20px;
  list-style: none;
  margin: auto 20px;
}

/* clases */
.logoRedes {
  width: 100%;
}

/* main proyectos */
.mainProyectos {
  margin-top: 80px;
  width: 100%;
  padding: 0;
}
.mainProyectos h1 {
  text-align: center;
  padding: 35px;
  font-size: 1.7rem;
  font-weight: bolder;
  background-color: black;
  color: white;
}
.mainProyectos .bloque {
  margin: 70px 0;
  background-color: #dceaef;
  padding-bottom: 20px;
  width: 100%;
}
.mainProyectos .bloque .subtitulo {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3d405c;
}
.mainProyectos .bloque .subtitulo h2 {
  font-size: 1.2rem;
  text-align: center;
  margin: 30px;
  text-transform: uppercase;
  color: white;
}
.mainProyectos .bloque h3 {
  font-size: 0.8rem;
  font-weight: bolder;
  margin: 15px 3%;
}

/* responsive pequeño */
@media (max-width: 767px) {
  /* responsive proyectos */
  .galeria {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    margin: auto;
    column-gap: 15px;
  }
  .galeria img {
    width: 80%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid black;
    max-height: 300px;
    min-height: 300px;
    max-width: 400px;
  }
  /* resposive servicios */
  .mainServicios section div h3 {
    font-size: 5vw;
  }
  /* responsive quienes somos */
  .mainQuienesSomos p {
    padding: 0 10%;
  }
  .mainQuienesSomos h2 {
    padding: 0 5%;
  }
  /* responsive contacto */
  .mainContacto section .fondoContacto {
    display: none;
  }
  .mainContacto section form {
    margin: auto;
    max-width: 500px;
    padding: 40px;
    margin-bottom: 100px;
  }
  .mainContacto section form div label {
    margin-right: 10px;
    font-size: 1.3rem;
  }
  .mainContacto section form div input {
    margin-bottom: 30px;
  }
  .mainContacto section form div textarea {
    height: 150px;
  }
}
/* responsive mediano*/
@media (min-width: 768px) {
  /* responsive header */
  .checkbox,
  .cancelar,
  .desplegar {
    display: none;
  }
  header .menu {
    display: block;
    top: 28px;
    z-index: 1;
    width: 100%;
    transition: none;
    opacity: 1;
  }
  header .menu ul {
    display: flex;
    justify-content: end;
    top: 0;
  }
  header .menu ul li {
    background-color: #a5ced5;
  }
  header .menu ul li a {
    border-radius: 20px;
    font-size: 0.9rem;
    padding: 0 8px;
  }
  /* responsive inicio */
  .mainInicio {
    margin-top: 80px;
  }
  .mainInicio section h2 {
    font-size: 2vw;
    padding: 40px 0;
  }
  .mainInicio section iframe {
    width: 60vw;
    height: 40vw;
    margin-bottom: 70px;
  }
  /* responsive proyectos */
  .mainProyectos {
    margin-top: 80px;
  }
  .mainProyectos .bloque .galeria {
    display: flex;
    width: 700px;
    max-height: 300px;
    margin: 50px auto;
  }
  .mainProyectos .bloque .galeria img {
    border: 2px solid black;
  }
  .galeria img {
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    filter: brightness(70%);
    transition: 0.7s ease;
  }
  .galeria img:hover {
    width: 450px;
    opacity: 1;
    filter: brightness(100%);
  }
  /* responsive quienes somos */
  .mainQuienesSomos p {
    padding: 0 15%;
  }
  .mainQuienesSomos h2 {
    padding: 0 10%;
  }
  /* responsive contacto */
  .mainContacto section {
    width: 750px;
    height: 813px;
    display: flex;
    justify-content: center;
    margin: auto;
  }
  .mainContacto section .fondoContacto {
    position: absolute;
    object-fit: cover;
    width: 750px;
  }
  .mainContacto section form {
    width: 350px;
    margin: auto 20% 85px 5%;
    position: relative;
    padding: 10px 20px;
  }
  .mainContacto section form div label {
    font-size: 0.9rem;
  }
  .mainContacto section form div input {
    margin-bottom: 5px;
  }
  .mainContacto section form div textarea {
    height: 150px;
  }
}
/* responsive grande */
@media (min-width: 1023px) {
  /* responsive header */
  header .menu {
    top: 25px;
  }
  header .menu li {
    margin: auto 10px;
  }
  header .menu li a {
    font-size: 1.2rem !important;
  }
  /* responsive inicio */
  .mainInicio {
    margin-top: 80px;
  }
  .mainInicio section h2 {
    padding: 70px 0;
  }
  .mainInicio section iframe {
    width: 40vw;
    height: 25vw;
    margin-bottom: 100px;
  }
  /* responsive proyectos */
  .mainProyectos {
    margin-top: 80px;
  }
  .mainProyectos .bloque {
    padding-left: 10%;
    padding-right: 10%;
  }
  .mainProyectos .bloque .galeria {
    width: 80%;
    height: 450px;
  }
  .mainQuienesSomos p {
    padding: 0 30%;
  }
  .mainQuienesSomos h2 {
    padding: 0 27%;
  }
}
.mainServicios {
  margin-top: 80px;
  width: 100%;
  background-color: #dceaef;
}
.mainServicios h1 {
  text-align: center;
  padding: 35px;
  font-size: 1.7rem;
  font-weight: bolder;
  background-color: black;
  color: white;
}
.mainServicios section {
  padding: 60px;
  width: 100%;
}
.mainServicios section div {
  padding: 10px;
  margin: auto;
}
.mainServicios section div div {
  background-color: white;
}

.cardText {
  font-weight: bolder;
  padding: 0;
  height: 50px;
}

.cardTam {
  height: 320px;
}

/* quienes somos */
.mainQuienesSomos {
  margin-top: 80px;
  width: 100%;
  background-color: #dceaef;
}
.mainQuienesSomos h1 {
  text-align: center;
  padding: 35px;
  font-size: 1.7rem;
  font-weight: bolder;
  background-color: black;
  color: white;
  margin-bottom: 50px;
}
.mainQuienesSomos p {
  margin-bottom: 100px;
  font-size: 1rem;
}
.mainQuienesSomos h2 {
  margin-bottom: 30px;
  font-size: 2rem;
}

/* contactanos */
.mainContacto {
  margin-top: 80px;
  background-color: #dceaef;
}
.mainContacto h1 {
  text-align: center;
  padding: 35px;
  font-size: 1.7rem;
  font-weight: bolder;
  background-color: black;
  color: white;
  margin-bottom: 50px;
}
.mainContacto h2 {
  font-size: 1.5rem;
  margin: 80px 5%;
  text-align: center;
}
.mainContacto section form {
  display: flex;
  flex-direction: column;
  background-color: #546d78;
}
.mainContacto section form div {
  display: flex;
  flex-direction: column;
}
.mainContacto section form div label {
  font-weight: bolder;
  color: gainsboro;
}
.mainContacto section form div input {
  border-radius: 10px;
}
.mainContacto section form div textarea {
  border-radius: 10px;
}
.mainContacto section form .button {
  border-radius: 10px;
  width: 80px;
  margin: 15px 0 auto auto;
}

/*# sourceMappingURL=estilo.css.map */
