/* contactanos */
.mainContacto {
    margin-top: 80px;
    background-color: #dceaef;

    h1 {
        text-align: center;
        padding: 35px;
        font-size: 1.7rem;
        font-weight: bolder;
        background-color: black;
        color: white;
        margin-bottom: 50px;
    }

    h2 {
        font-size: 1.5rem;
        margin: 80px 5%;
        text-align: center;
    }

    section {

        form {
            display: flex;
            flex-direction: column;
            background-color: #546d78;

            div {
                display: flex;
                flex-direction: column;

                label {
                    font-weight: bolder;
                    color: gainsboro;
                }


                input {
                    border-radius: 10px;
                }

                textarea {
                    border-radius: 10px;
                }
            }

            .button {
                border-radius: 10px;
                width: 80px;
                margin: 15px 0 auto auto;

            }
        }
    }
}