/* header */

header {
    height: 80px;
    background-color: #a5ced5;
    position: fixed;
    width: 100%;
    z-index: 1;

    nav {
        width: 200px;
        position: absolute;
        top: 80px;
        right: 0;
        opacity: 0;
        transition: 250ms;

        ul {

            li {
                list-style: none;
                background-color: #546d78;

                a {
                    text-decoration: none;
                    color: inherit;
                    display: block;
                    padding: 3px 12px;
                    color: white;
                }
            }
        }
    }
}

/* mixin */

@mixin icono {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 15px;
    top: 25px;
    cursor: pointer;

}

/* clases */
.logo {
    width: 210px;
    margin: 5px;
}

.checkbox {
    @include icono;
    opacity: 0;
}

.desplegar {
    @include icono;
    pointer-events: none;
}

.cancelar {
    @include icono;
    display: none;
    pointer-events: none;
}

/* acciones */
.checkbox:checked~.desplegar {
    display: none;
}

.checkbox:checked~.cancelar {
    display: block;
}

.checkbox:checked~.menu {
    display: block;
    top: 80px;
    opacity: 1;
}

.menu li a:hover {
    background-color: #546d78;
}