/* main inicio */

.mainInicio {
    width: 100%;
    margin-top: 80px;

    div {

        img {
            width: 100%;
        }

        h1 {
            padding: 70px 10px;
            background-color: black;
            text-align: center;
            font-size: 4vw;
            color: white;
            margin: 0;
        }
    }

    section {
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        
        h2 {
            font-size: 3vw;
            text-align: center;
            padding: 20px 10px;
            margin: 40px auto;
        }

        iframe {
            width: 85vw;
            height: 50vw;
            margin: auto;
        }
    }
}

    /* responsive tamaño pequeño */

@media (min-width: 670px) {

    .mainInicio {
        margin-top: 100px;

        section {
            
            h2 {
                font-size: 2vw;
                padding: 40px 0;
            }
            
            iframe {
                width: 60vw;
                height: 40vw;
                margin-bottom: 70px;
            }
        }
    }
}

    /* responsive tamaño mediano */
@media (min-width: 1023px) {

    .mainInicio {
        margin-top: 150px;

        section {

            h2 {
                padding: 70px 0;
            }

            iframe {
                width: 40vw;
                height: 25vw;
                margin-bottom: 100px;
            }
        }
    }
}