/* main proyectos */

.mainProyectos {
    margin-top: 80px;
    width: 100%;
    padding: 0;

    h1 {
        text-align: center;
        padding: 35px;
        font-size: 1.7rem;
        font-weight: bolder;
        background-color: black;
        color: white;
    }

    .bloque {
        margin: 70px 0;
        background-color: #dceaef;
        padding-bottom: 20px;
        width: 100%;

        .subtitulo {
            height: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #3d405c;

            h2 {
                font-size: 1.2rem;
                text-align: center;
                margin: 30px;
                text-transform: uppercase;
                color: white;
            }
        }

        h3 {
            font-size: 0.8rem;
            font-weight: bolder;
            margin: 15px 3%;
        }
    }
}