/* responsive pequeño */
@media (max-width: 767px) {

    /* responsive proyectos */
    .galeria {
        display: flex;
        width: 100%;
        overflow-x: scroll;
        margin: auto;
        column-gap: 15px;

        img {
            width: 80%;
            object-fit: cover;
            border-radius: 10px;
            border: 2px solid black;
            max-height: 300px;
            min-height: 300px;
            max-width: 400px;
        }

    }

    /* resposive servicios */
    .mainServicios {

        section {

            div {

                h3 {
                    font-size: 5vw;
                }
            }
        }
    }

    /* responsive quienes somos */
    .mainQuienesSomos {

        p {
            padding: 0 10%;
        }

        h2 {
            padding: 0 5%;
        }
    }

    /* responsive contacto */
    .mainContacto {

        section {

            .fondoContacto {
                display: none;
            }

            form {
                margin: auto;
                max-width: 500px;
                padding: 40px;
                margin-bottom: 100px;

                div {
    
                    label {
                        margin-right: 10px;
                        font-size: 1.3rem;
                    }
    
                    input {
                        margin-bottom: 30px;
                    }
    
                    textarea {
                        height: 150px;
                    }
                }
            }
        }
    }
}

/* responsive mediano*/
@media (min-width: 768px) {

    /* responsive header */
    .checkbox,
    .cancelar,
    .desplegar {
        display: none;
    }

    header {

        .menu {
            display: block;
            top: 28px;
            z-index: 1;
            width: 100%;
            transition: none;
            opacity: 1;

            ul {
                display: flex;
                justify-content: end;
                top: 0;

                li {
                    background-color: #a5ced5;

                    a {
                        border-radius: 20px;
                        font-size: 0.9rem;
                        padding: 0 8px;
                    }
                }
            }
        }
    }

    /* responsive inicio */
    .mainInicio {
        margin-top: 80px;

        section {

            h2 {
                font-size: 2vw;
                padding: 40px 0;
            }

            iframe {
                width: 60vw;
                height: 40vw;
                margin-bottom: 70px;
            }
        }
    }

    /* responsive proyectos */
    .mainProyectos {
        margin-top: 80px;

        .bloque {

            .galeria {
                display: flex;
                width: 700px;
                max-height: 300px;
                margin: 50px auto;

                img {
                    border: 2px solid black;
                }
            }
        }
    }

    .galeria img {
        width: 0;
        flex-grow: 1;
        object-fit: cover;
        filter: brightness(70%);
        transition: 0.7s ease;
    }

    .galeria img:hover {
        width: 450px;
        opacity: 1;
        filter: brightness(100%);
    }

    /* responsive quienes somos */
    .mainQuienesSomos {

        p {
            padding: 0 15%;
        }

        h2 {
            padding: 0 10%;
        }
    }

    /* responsive contacto */
    .mainContacto {

        section {
            width: 750px;
            height: 813px;
            display: flex;
            justify-content: center;
            margin: auto;

            .fondoContacto {
                position: absolute;
                object-fit: cover;
                width: 750px;
            }

            form {
                width: 350px;
                margin: auto 20% 85px 5%;
                position: relative;
                padding: 10px 20px;

                div {
    
                    label {
                        font-size: 0.9rem;
                    }
    
                    input {
                        margin-bottom: 5px;
                    }
    
                    textarea {
                        height: 150px;
                    }
                }
            }
        }
    }
}

/* responsive grande */
@media (min-width: 1023px) {

    /* responsive header */
    header {

        .menu {
            top: 25px;

            li {
                margin: auto 10px;

                a {
                    font-size: 1.2rem !important;
                }
            }
        }
    }

    /* responsive inicio */
    .mainInicio {
        margin-top: 80px;

        section {

            h2 {
                padding: 70px 0;
            }

            iframe {
                width: 40vw;
                height: 25vw;
                margin-bottom: 100px;
            }
        }
    }

    /* responsive proyectos */
    .mainProyectos {
        margin-top: 80px;

        .bloque {
            padding-left: 10%;
            padding-right: 10%;

            .galeria {
                width: 80%;
                height: 450px;
            }
        }
    }

    .mainQuienesSomos {

        p {
            padding: 0 30%;
        }

        h2 {
            padding: 0 27%;
        }
    }
}