.mainServicios {
    margin-top: 80px;
    width: 100%;
    background-color: #dceaef;

    h1 {
        text-align: center;
        padding: 35px;
        font-size: 1.7rem;
        font-weight: bolder;
        background-color: black;
        color: white;
    }

    section {
        padding: 60px;
        width: 100%;
        

        div {
            padding: 10px;
            margin: auto;

            div {
                background-color: white;
            }
        }
    }
}

.cardText {
    font-weight: bolder;
    padding: 0;
    height: 50px;
}

.cardTam {
    height: 320px;
}